@import '../abstracts/mixin';
//-------------- SECTIONS -----------

.home-section {
    width: 100%;
}
.prompt-not-smartphone-section {
    margin-top: 7rem ;
    margin-left: 3rem;  
    padding: 5rem;
    // display: flex;
    // justify-content: center;
    // align-items:self-end;
}







//-------------- TITLES SECTION -----------
.prompt-not-smartphone {
    font-family: var(--ft-erica);
    font-size: var(--font-size-30);
    white-space: nowrap;
    color: var(--clr-pink) ;
}

.icon-phatom {
    background-color: transparent;
    @include float-vertical-noShadow(3s, ease-in-out, infinite);
}