//-------------- SECTIONS -----------
// .home-section {
//     background-color: #F5D491;
// }





//-------------- TITLES SECTION -----------
.notable-collection-title {
    // background-color: aqua;
    font-family: var( --ft-main-title);
    font-weight: 400;
    white-space: nowrap;
}

.notable-collection-sub-title {
    // background-color: red;
    font-family: var( --ft-main-title);
    font-weight: 400;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--clr-txt-grey-70);
}