//-------------- SECTIONS -----------
.success-wrapper {
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
.success-main-container {
  
  height: max-content;
  width: max-content;
//   margin: auto;
  padding: 1rem;
  
  // border-top-left-radius: 8px;
	// border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  h2 {
  margin-top: 0.5rem;
   font-family: var(--ft-noto);
  font-size: var(--font-size-25);
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--clr-grey-text);
  white-space: nowrap;
  }
}

.success-img {
  border-radius: 25px;
}






//-------------- TITLES SECTION -----------

.email-msg {
  font-family: var(--ft-noto);
    font-size: var(--font-size-16);
    letter-spacing: 1px;
    white-space: nowrap;
    color: var(--clr-grey-bright);
    text-align: center;
  }

  .description {
    font-family: var(--ft-noto);
    font-size: var(--font-size-13);
    letter-spacing: 1px;
    color: var(--clr-txt-grey-30);
    text-align: center;
    margin-top: 1.5rem;
    a {
    font-family: var(--ft-asap);
    font-size: var(--font-size-12);
    color: var(--clr-txt-grey-30);
    }
  }


  //--------- BTN ----------
  .continue-shopping {
    font-family: var( --ft-asap);
    margin-top: 1rem;
    border-radius: 0px ;
    background-color: var(--clr-pink) ;
    color: var(--clr-grey-dark) ;
    border: 1px solid var(--clr-grey-dark);
    padding: 2px 15px 2px 15px ;
  }