//-------------- SECTIONS -----------
//CART
.cart-wrapper {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  top: 0;
  z-index: 100;
  // will-change: transform;
  transition: all 2s ease-in-out;
}

.cart-container {
  height: 100vh;
  // width: 600px;
  float: right;
  position: relative;
  padding: 2.5rem 2rem;
  background-color: var(--clr-pink);
}

.cart-heading {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 2px;
  //    background-color: transparent !important;
}

.cart-heading .heading {
  margin-left: 10px;
}


//PRODUCT
.product-container {
  overflow: auto;
  max-height: 50vh;
  padding: 5px 5px;
  background-color: var(--clr-bg-grey-bg);
  border-radius: 5px;
}

.product {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  width: 110px;
  height: 150px;
  border-radius: 15px;

}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  padding: 30px 65px;
}

//-------------- TITLES SECTION -----------

.heading {
  font-family: var( --ft-spaceGro);
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  color: var(--clr-grey-dark);
}

.cart-num-items {
  font-family: var( --ft-spaceGro);
  text-transform:lowercase;
  font-weight: 300;
  white-space: nowrap;
  color: var(--clr-grey-shadow);
}

.product-details-product-name{
  font-family: var( --ft-comi);
  text-transform:uppercase;
  line-height: 13px;
  font-weight: 600;
  white-space: wrap;
  color: var(--clr-grey-text-cart);
  background-color: var( --clr-grey-shadow );
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.product-cart-price-tag {
  font-family: var( --ft-comi);
	font-size: var(--font-size-13);
    color: var( --clr-pink);
    font-weight: 200;
    text-align: right;
    text-transform: capitalize;
    white-space: nowrap;
}






.empty-card_text {
  font-family: var( --ft-spaceGro);
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  color: var(--clr-grey-dark);
}



.cart-bottom-subtotal {
  font-family: var( --ft-spaceGro);
  font-size: var(--font-size-20);
  text-transform:lowercase;
  font-weight: 300;
  white-space: nowrap;
  text-decoration: underline;
  color: var(--clr-grey-dark);
}
.cart-bottom-price {
  font-family: var( --ft-comi);
	font-size: var(--font-size-17);
    color: var(--clr-grey-dark);
    font-weight: 600;
    text-align: right;
    text-transform: capitalize;
    
    white-space: nowrap;

    span {
      font-weight: 100;
    }
}



//-------------- BUTTON -----------
.continue-exploring {
  border: 1px solid var(--clr-btn-contact-dark);
  
  color: var(--clr-grey-text-cart);
  font-family: var(--ft-main-title);
  text-transform: uppercase;
}

.remove-item {
  cursor: pointer;
  background: transparent !important;
  border: none;
  color: var(   --clr-grey-shadow);
  text-align: right;
}

.stripe-btn {
	border-radius: 0px ;
	background-color: var(--clr-grey-text) ;
	color: var(--clr-grey-dark) ;
	border: 1px solid var(  --clr-btn-stroke);
	padding: 2px 15px 2px 15px ;
  
}
