:root {
    /*----------------------------- MAIN COLORS ------------------------*/
    --clr-black-50: #1f1f1f;
    --clr-black-70: #1b1c1e;
    --clr-grey-50: #303030;
    --clr-grey-70: #2b2b2b;



    /*----------------------------- FONT COLORS ------------------------*/
    --clr-txt-blk: #000000;
    --clr-txt-wht: #FFFFFF;
    --clr-txt-grey-30: #787575;
    --clr-txt-grey-50: #5e5e5e;
    --clr-txt-grey-70: #4a4a4a;
   
   
   /*----------------------------- BACKGROUND COLORS ------------------------*/
   
   --clr-bg-white: #FEFEFE;
   --clr-bg-black: #101011;
   --clr-bg-orange: #fc4b1f;
  
     
 /*----------------------------- BUTTONS COLORS ------------------------*/
   --clr-btn-contact: #6D6D6D;
   --clr-btn-contact-dark: #424242;
   --clr-btn-wht: #FFFFFF;
   --clr-btn-blk: #000000;


 /*----------------------------- SHADOW COLORS ------------------------*/
 --clr-shadow-dark: #232323;




 /*----------------------------- SHADOW COLORS ------------------------*/
 --clr-border-form: hsl(0, 12%, 88%);

  /*----------------------------- OTHER COLORS ------------------------*/
  --color-outer-space: #2D383A;
  --color-outer-space-75: #384446;
  --color-outer-space-65: #475558;
  --color-outer-space-60: #6f8285;
  --color-algopulse:#1e1e20;
  --color-ant-dark: rgb(0, 17, 33);
  --color-cosmic-blue: hsl(241, 81%, 22%);
  --color-black-x: #000000e1;
  --color-blue: #2E5894;
  --color-blue-lg: hsl(215, 53%, 43%);
  --color-amethyst: #64609A;
  --color-hyperlink: #89adf5;;
  --color-hyperlink-hover: #5b8df1;
  --color-greeny: #008080;
  --color-zil: hsl(173, 99%, 43%);
  --color-zil-dark: #009987bc;
  --color-green: #9DE093;
  --color-yellow-green: #C5E17A;
  --color-middle-green: #4D8C57;
  --color-green-chrome: #6CA67C;
  --color-green-jungle: #29AB87;
  --color-green-forest: #5FA777;
  --color-eggplant: #614051;
  --color-cyber-grape: #58427C;
  --color-lilac: #DB91EF;
  --color-bubble-gum: #FFD3F8;
  --color-bubble-gum-99: #e4b6dc;
  --color-shampoo:#FFCFF1;
  --color-red: 	#ED0A3F;
  --color-brick: #C62D42;
  --color-orange-red: #FF5349;
  --color-pink: #FC5A8D;
  --color-macaroni-cheese:#FFB97B;
  --color-peach: #FFD0B9;
  --color-white: #fff;
  --color-coconut: #FEFEFE;
  --color-soap: #CEC8EF;
  --color-cadet:#A9B2C3;
  --color-zilver: #A6A6A6;
  --color-gar-blue: #C8C8CD;
  --color-wolf: #D9D6CF;
  --color-blue-violet: #766EC8;
  --color-lemon: #FFFF38;
  --color-canary: #FFFF99;
  --color-lemon-cream: #FDFF00;
  --color-daffodil: #FFFF31;
  --color-yellow-audio: #FFDF00;

  --color-palette: #5465FF;
  --color-palette-01: #788BFF;
  --color-palette-02: #9BB1FF;
  --color-palette-03: #BFD7FF;
  --color-palette-04: #E2FDFF ;
 
 
  --color-linear-gradient: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
 

}
   
   