:root {
    /*----------------------------- MAIN COLORS ------------------------*/
    --clr-black-50: #1f1f1f;
    --clr-black-70: #1b1c1e;
    --clr-grey-50: #303030;
    --clr-grey-70: #2b2b2b;



    /*----------------------------- FONT COLORS ------------------------*/
    --clr-txt-blk: #000000;
    --clr-txt-wht: #FFFFFF;
    --clr-txt-grey-30: #787575;
    --clr-txt-grey-50: #5e5e5e;
    --clr-txt-grey-70: #4a4a4a;
   
   
   /*----------------------------- BACKGROUND COLORS ------------------------*/
   
   --clr-bg-white: #FEFEFE;
   --clr-bg-black: #101011;
   --clr-bg-orange: #fc4b1f;
  
     
 /*----------------------------- BUTTONS COLORS ------------------------*/
   --clr-btn-contact: #6D6D6D;
   --clr-btn-contact-dark: #424242;
   --clr-btn-wht: #FFFFFF;
   --clr-btn-blk: #000000;


 /*----------------------------- SHADOW COLORS ------------------------*/
 --clr-shadow-dark: #232323;




 /*----------------------------- SHADOW COLORS ------------------------*/
 --clr-border-form: hsl(0, 12%, 88%);

}
   
   