:root {
    /*----------------------------- FONT COLORS ------------------------*/
    --clr-txt-blk: #000000;
    --clr-txt-wht: #FFFFFF;
   
   
   /*----------------------------- BACKGROUND COLORS ------------------------*/
   
   --clr-bg-lgt: #FFFFFF;
   --clr-bg-drk: #000000;
  
     
 /*----------------------------- BUTTONS COLORS ------------------------*/
   --clr-btn-contact: #6D6D6D;
   --clr-btn-contact-dark: #424242;
   --clr-btn-wht: #FFFFFF;
   --clr-btn-blk: #000000;


 /*----------------------------- SHADOW COLORS ------------------------*/
 --clr-shadow-dark: #232323;




 /*----------------------------- SHADOW COLORS ------------------------*/
 --clr-border-form: hsl(0, 12%, 88%);

}
   
   