//-------------- SECTIONS -----------

.hero-banner-section {
    width: 100%;
	margin-bottom: 4rem;
	@media (min-width: 412px) {
		margin-left: 2rem;
		}
    // z-index: -2;
}

.section-img {
	margin-top: -3rem;
	// margin-left: 2rem;
}

.hero-banner-image {
	max-width: 150px;
	margin-left: 1rem;
}






//-------------- TITLES SECTION -----------
.hero_banner-huge-title {
    font-family: var(--ft-spaceGro);
    font-size: var(--font-size-150);
    font-weight: 100;
    color: var( --clr-grey-bright);
    margin-left: 0.5rem;
	@media (min-width: 437px) {
		font-size: var(--font-size-197);
		}
}

.hero_banner-desc {
    // background-color: var(--clr-pink);
    font-family: var(--ft-comi);
    font-size: var(--font-size-17);
    font-weight: 400;
    color: var(--clr-btn-bg) !important;
    margin-left: 1rem;
    width: 10rem;
    margin-top: -2.5rem;
    height: fit-content;
	@media (min-width: 437px) {
		font-size: var(--font-size-20);
		}	
}

.hero_banner-img-desc {
	font-family: var(--ft-comi);
    font-size: var(--font-size-12);
	font-weight: 200;
	margin-top: -0.5rem;
}

.a-letter {
    // background-color: pink;
    margin-top: -6.2rem;
    margin-left: 4rem;
    height: fit-content;
    color: var(--clr-pink) !important;
}

.pe-letter {
    margin-top: -4.2rem;
    height: fit-content;

}

//-------------- BUTTON -----------
.read-me-btn {
	border-radius: 0px !important;
	background-color: var(--clr-btn-bg) !important;
	color: var(--clr-btn-txt) !important;
	border: 1px solid var(  --clr-btn-stroke);
	padding: 2px 30px 2px 30px !important;
	margin-top: -2rem !important;
}



//-------------- OTHER -----------
.hero_banner-icon-enter {
    color: var(--clr-grey-dark);
    rotate: 90deg;
    margin-top: 7.9rem;
    margin-left: -5rem;
}