//-------------- SECTIONS -----------
.footer-banner-section{
   
    width: 100%;  
}



.footer-banner-desc-left {
    z-index: 2;
}

.article-box {
   margin-top: -5.5rem;
    padding: 1rem;
}


//-------------- TITLES SECTION -----------
.l-letter {
   text-align: right;
   margin-right: 1rem; 
   margin-top: -8rem;
}

.ore-letter {
    margin-top: -11rem;
    margin-left: -4rem;
}



//LEFT TEXTS
.footer-banner-desc-discount {
    // background-color: yellow;
    margin-top: 8rem;
    font-family: var(--ft-spaceGro);
    color: var(--clr-grey-shadow);
    font-size: var(--font-size-22);
    text-transform: uppercase;   
}

.footer-banner-desc-largeText1 {
    // background-color: pink;
    font-family: var( --ft-genos);
    font-size: var(--font-size-57);
    color: var(  --clr-txt-grey-70);
    margin: -4rem 1px 0px 1px;
    font-weight: 100;
    white-space: nowrap;
    z-index: 2;
}

.footer-banner-desc-largeText2 {
    font-family: var( --ft-genos);
    font-size: var(--font-size-57);
    color: var(--clr-grey-bright);
    margin: -6rem 1px 0px 2rem;
    font-weight: 100;
    white-space: nowrap;
    z-index: 2;
}

.footer-banner-desc-saleTime {
    // background-color: green;
    font-family: var(--ft-spaceGro);
    font-size: var(--font-size-24);
    color: var(--clr-grey-bright);
    text-transform: uppercase;
    white-space: nowrap;
    
}

//RIGHT TEXTS
.footer-banner-desc-smallText {
    // background-color: purple;
    font-family: var(--ft-comi);
    font-size: var(--font-size-15);
    color: var(--clr-grey-bright);
    text-transform: uppercase;
     color: var(--clr-txt-grey-70);
}

.footer-banner-desc-midText {
    // background-color: purple;
   
    font-family: var(--ft-comi);
    color: var(--clr-pink);
    font-size: var(--font-size-15);
    text-transform: uppercase;
}

.footer-banner-desc-desc {
    // background-color: cornflowerblue;
    margin-top: 1rem ;
    font-family: var(--ft-comi);
    font-size: var(--font-size-15);
    color: var(--clr-grey-bright);
}


//-------------- BTN SECTION -----------
.footer-banner-product-btn {
  
    border-radius: 0px !important;
	background-color: var(--clr-btn-bg) !important;
	color: var(--clr-btn-txt) !important;
	border: 1px solid var(  --clr-btn-stroke);
	padding: 2px 15px 2px 15px !important;
	margin-top: 1rem !important;
}

//-------------- IMG SECTION -----------

.footer-banner-image {
    margin-left: 1rem;
    width: 235px;
    height: 200px;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17,17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    z-index: 1;
    }


//----------------- OTHER -----------
.footer_banner-icon-enter {
    color: var(--clr-grey-dark);
    rotate: 90deg;
    margin-top:11rem;
    margin-left: -5rem;
}
