//-------------- SECTIONS -----------
@keyframes float-vertical {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes float-horizontal {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatex(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatex(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatex(0px);
	}
}

@keyframes scale-soft {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: scale(1,1);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: scale(1.1,1.1);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: scale(1,1);
	}
}



.nftDrop-section {
// background-color: pink;
}

.nftDrop-artwork-div {
    margin-top: 2rem;
    margin-left: 1rem;
}






//-------------- TITLES SECTION -----------
.nftDrop-title {
    font-family: var(--ft-comi);
    font-size: var(--font-size-25);
    font-weight: 400;
    color: var(--clr-grey-bright);
    margin-left: 1rem;
    width: 10rem;
   
}

//-------------- BUTTON -----------




//-------------- OTHER -----------
.nftDrop-image {
    max-width: 250px;
    margin-bottom: 1rem;
}