//-------------- CSS ANIMATIONS -----------
//.div {
//	@include float-vertical(3s, ease-in-out, infinite);
//}
@mixin float-vertical($duration, $timing-function, $iteration-count)  {
	animation: float-vertical $duration $timing-function $iteration-count;
}

@keyframes float-vertical {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@mixin float-vertical-noShadow($duration, $timing-function, $iteration-count)  {
	animation: float-vertical-noShadow $duration $timing-function $iteration-count;
}

@keyframes float-vertical-noShadow {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-15px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

@mixin float-horizontal($duration, $timing-function, $iteration-count) {
	animation: float-horizontal $duration $timing-function $iteration-count;
}

@keyframes float-horizontal {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatex(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatex(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatex(0px);
	}
	
}
@for $i from 1 through 10 {
	.artwork-#{$i} {
	  animation-delay: 0.1s * $i;
	  @include float-horizontal(1s, ease-in-out, infinite);
	}
  }

  
@mixin scale-soft($duration, $timing-function, $iteration-count) {
	animation: scale-soft $duration $timing-function $iteration-count;
}

@keyframes scale-soft {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: scale(1,1);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: scale(1.1,1.1);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: scale(1,1);
	}
}

@mixin flip {
	@keyframes flip {
	  0% {
		transform: rotateY(0deg);
	  }
	  50% {
		transform: rotateY(180deg);
	  }
	  100% {
		transform: rotateY(0deg);
	  }
	}
  }

  //WOW animation for modal
  @mixin translate($x, $y) {
	transform: translate($x, $y);
	}

	@keyframes wow-animation {
		0% {
		@include translate(0, 100%);
		}
		100% {
		@include translate(0, 0);
		}
		}


		