 /*----------------------------- GENERAL ------------------------*/

 $padding-y-btn-30: 5px 30px 5px 30px;
 $padding-y-btn-20: 8px 20px 8px 20px;
 $padding-y-btn-10: 8px 10px 8px 10px;

 $text-shadow-grey-soft: 6px 9px var( --clr-btn-contact);
 $text-shadow-dark: 5px 4px var( --clr-shadow-dark );

