 /*----------------------------- GENERAL ------------------------*/

 $padding-y-btn-30: 5px 30px 5px 30px;
 $padding-y-btn-20: 8px 20px 8px 20px;
 $padding-y-btn-10: 8px 10px 8px 10px;

 $text-shadow-grey-soft: 6px 9px var( --clr-btn-contact);
 $text-shadow-dark: 5px 4px var( --clr-shadow-dark );





 //---------- ANIMATIONS ---------------

//  @keyframes float-vertical {
// 	0% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: translatey(0px);
// 	}
// 	50% {
// 		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
// 		transform: translatey(-15px);
// 	}
// 	100% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: translatey(0px);
// 	}
// }

// @keyframes float-horizontal {
// 	0% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: translatex(0px);
// 	}
// 	50% {
// 		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
// 		transform: translatex(-15px);
// 	}
// 	100% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: translatex(0px);
// 	}
// }

// @keyframes scale-soft {
// 	0% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: scale(1,1);
// 	}
// 	50% {
// 		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
// 		transform: scale(1.1,1.1);
// 	}
// 	100% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: scale(1,1);
// 	}
// }
